.container{
    position: relative;
}

.heroBannerContainer{
    width: 100%;
    padding: 0 50px;
    margin-top: 20px;
}
.productsWrapper{
    width: 100%;
    padding: 0 80px;
}
.productsWrapper h2{
    font-size: 2.5rem;
    color: #344D6C;
    text-align: center;
    font-weight: 800;
    margin: 0;
    margin-top: 20px;

}
.productsWrapper p{
    text-align: center;
    margin: 0;
    color: rgb(185, 184, 184);
}
.productsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.footer{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.footerTerms{
    display: block;
    color: #324d67;
    font-weight: 700;
    margin-bottom: 10px;
}
.footerIcons{
    color: #324d67;
    margin-top: 20px;

}
.footerIcons svg:first-child{
    margin-right: 10px;
}
.footerIcons svg{
    cursor: pointer;
}
.opacity{
    opacity: 0.4;
}

@media screen and (max-width: 600px) {
    .heroBannerContainer{
        padding: 0 30px;
    }
    .productsWrapper{
        padding: 0 30px;
    }
    .productsContainer{
        margin-top: 0;
    }
    .productsWrapper h2{
        font-size: 2rem;
        margin-top: 30px;
    }
}